body{
    background-color: #353535;
    color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    width: 90%;
    margin: auto;
  }
  .container{
    border: 1px rgb(70, 71, 138) solid;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  img {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
  }
  .resorces > a{
    display: block;
  }
